<!doctype html>
<html>
  <head>
    <title>Gothons of Planet Percal #25k MAGIC</title>
    <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Bangers|Droid+Sans">
    <style>
    body {
      background-image: url("congruent_outline.png");
      background-color: grey;
    }

    h1 {
        text-align: center;
        font-family: 'Bangers', cursive;
        font-size: 40px;
    }

    p, pre, form {
      text-align: center;
      font-family: 'Droid Sans', sans-serif;
      font-size: 14px;
    }
    </style>
  </head>

<body>
  {% block bodycontent %}
  <p>Empty Layout</p>
  {% endblock %}
</body>
</html>
